<div class="container">
  <div class="row d-flex justify-content-center my-2">
    <div class="col d-flex justify-content-center">
      Welcome to deliver-order: <br>
    </div>
  </div>

  <div class="row d-flex justify-content-center my-2">
    <div class="col-1 d-flex justify-content-center">
      <label>product id:</label>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <label>product:</label>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label>state:</label>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label>customer, address:</label>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label>location:</label>
    </div>
    <div class="col-2 d-flex justify-content-center">
    </div>
  </div>

  <div class="row d-flex justify-content-center my-2" *ngFor= "let deliverTask of deliverTasks">
    <div class="col-1 d-flex justify-content-center">
      <label>{{deliverTask.code}}</label>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <label>{{deliverTask.product}}</label>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label>{{deliverTask.state}}</label>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label>{{deliverTask.address}}</label>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <label>{{deliverTask.location}}</label>
    </div>
    <div class="col-2 d-flex justify-content-center">
      <button class="btn btn-outline-dark" id= "deliver-button-{{deliverTask.code}}" (click)="deliverOrder(deliverTask)">Deliver</button> <!--"deliver"-->
    </div>
  </div>

</div>

