<div class="container">

    <div class="row d-flex justify-content-center my-2">
        <div class="col d-flex justify-content-center">
            <h2 class="text-center">Warehouse Palettes:</h2>
        </div>
    </div>

    <div [id]="pal.barcode" class="row my-2 d-flex justify-content-center" *ngFor="let pal of palettes">

        <div id="col-amount" class="col-4 d-flex justify-content-center">
            <label>{{pal.amount}} </label>
        </div>

        <div id="col-product" class="col-4 d-flex justify-content-center">
            <label>{{pal.product}} </label>
        </div>

        <div id="col-location" class="col-4 d-flex justify-content-center">
            <label>{{pal.location}} </label>
        </div>

    </div>

    <div class="row my-2">
        <div class="col d-flex justify-content-center">
            <a class="btn btn-outline-dark" id="add-button" routerLink="/store-tasks/add-palette">Add new palette</a>
        </div>
    </div>

</div>
