//use ids to individulize the layout (class is for every object of the class, while id is for one object!
#col-amount {
    background-color: silver;
}

#col-product{
    background-color: lightgray;
}

#col-location {
    background-color: silver;
}
